#main-nav {
    margin-bottom: 25px;
}
#headContainer {
    padding-top: 75px;
    padding-bottom: 75px;
}
.btn-pad {
    margin-left: 5px;
    margin-right: 5px;
}
.nav-transparent {
    opacity: .8;
}

.nav-fadable {
    transition: all 0.3s ease-in-out;
}

.fadable {
    transition: all 0.3s ease-in-out;
}

.selected-block {
    background-color: rgba(92, 184, 92, 0.6);
}

.bbbtnspacer {
    margin-left: 5px;
    margin-right: 5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-group-justified {
    display: flex;
    width: 100%;
}
.btn-group-justified .btn-group {
    flex: 1;
}
.btn-group-justified .btn {
    width: 100%;
}

.editable:hover {
    text-decoration: none;
    border-bottom: dashed;
    border-bottom-width: thin;
    border-bottom-color: #8c8c8c;
}
.editable:focus {
    text-decoration: none;
    border-bottom: dashed;
    border-bottom-width: thin;
    border-bottom-color: #8c8c8c;
}
.nav-subnav {
    padding-left: 15px;
    width: 90%;
}
.nav-announce {
    transition: all 0.5s ease-in-out;
}
.transparent {
    opacity: 0;
}
.nav-announce-1 {
    bottom: 54px;
}
.nav-announce-2 {
    bottom: 108px;
}
.nav-announce-3 {
    bottom: 162px;
}